body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', Arial, sans-serif;
    --text-secondary: #888888;
}

h1 {
    margin-bottom: 0;
}

main {
    width: 80%;
    max-width: 1000px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-decoration: underline;
}

a {
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
}

.secondary {
    color: var(--text-secondary);
}

.job-title {
    font-size: 1.2em;
}

.additional-info {
    font-size: 0.9em;
}

.emoji-list {
    list-style-type: none;
    padding-left: 1em;
}

button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Mono', Arial, sans-serif;
    font-size: 14px;
    transition: all 0.3s linear;
    min-width: 120px;
}

button:hover {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    transform: translate(-2px, -2px);
}

#printPage {
    top: 20px;
}

@media print {
    body {
        font-size: 12px;
    }

    main {
        width: 100%;
        max-width: unset;
    }

    button {
        display: none;
    }
}